*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 100vw;
    height: 100vh;
    /* background-image: url(wave.jpg); */
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 100px;
}

.loader .loader-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* color: aliceblue; */
    color: tomato;
    font-weight: 700;
    line-height: 1.7;
}

.loader .loader-items {
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
}

.loader .loader-items .item{
    transform: rotate(calc(var(--i) * 45deg));
    transform-origin: 50px 50px;
}

.loader .loader-items .item::after{
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: tomato;
    animation: loader 800ms linear infinite;
    animation-delay: calc(var(--i)*100ms);
}

@keyframes loader{
    to{
        transform: scale(1,1);
    }
    from{
        transform: scale(1.5,1.5);
    }
}